<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Host" value="http://127.0.0.1" />
		<add key="Port" value="300" />
		<add key ="Url" value="/cgi-bin/epos/service.cgi/"/>
		<add key="Printer.Kitchen" value="3000:ZJ-58"/>
		<add key="Printer.Cash" value="3001:OneNote for Windows 10"/>
	</appSettings>
</configuration>